blog/App_WebReferences/ru/uirproject/ksit/Zadanie1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pac.by/webserv" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.pac.by/webserv" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pac.by/webserv">
      <s:element name="GetStudentMarks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentMarksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentMarksResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentMarksSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentMarks" />
  </wsdl:message>
  <wsdl:message name="GetStudentMarksSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentMarksResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentMarksHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStudentMarksHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetStudentMarksHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStudentMarksHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Lab13Zadanie1Soap">
    <wsdl:operation name="GetStudentMarks">
      <wsdl:input message="tns:GetStudentMarksSoapIn" />
      <wsdl:output message="tns:GetStudentMarksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Lab13Zadanie1HttpGet">
    <wsdl:operation name="GetStudentMarks">
      <wsdl:input message="tns:GetStudentMarksHttpGetIn" />
      <wsdl:output message="tns:GetStudentMarksHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Lab13Zadanie1HttpPost">
    <wsdl:operation name="GetStudentMarks">
      <wsdl:input message="tns:GetStudentMarksHttpPostIn" />
      <wsdl:output message="tns:GetStudentMarksHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Lab13Zadanie1Soap" type="tns:Lab13Zadanie1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentMarks">
      <soap:operation soapAction="http://www.pac.by/webserv/GetStudentMarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Lab13Zadanie1Soap12" type="tns:Lab13Zadanie1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentMarks">
      <soap12:operation soapAction="http://www.pac.by/webserv/GetStudentMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Lab13Zadanie1HttpGet" type="tns:Lab13Zadanie1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetStudentMarks">
      <http:operation location="/GetStudentMarks" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Lab13Zadanie1HttpPost" type="tns:Lab13Zadanie1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetStudentMarks">
      <http:operation location="/GetStudentMarks" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lab13Zadanie1">
    <wsdl:port name="Lab13Zadanie1Soap" binding="tns:Lab13Zadanie1Soap">
      <soap:address location="http://ksit.uirproject.ru/blog/labs/lab13/Zadanie1.asmx" />
    </wsdl:port>
    <wsdl:port name="Lab13Zadanie1Soap12" binding="tns:Lab13Zadanie1Soap12">
      <soap12:address location="http://ksit.uirproject.ru/blog/labs/lab13/Zadanie1.asmx" />
    </wsdl:port>
    <wsdl:port name="Lab13Zadanie1HttpGet" binding="tns:Lab13Zadanie1HttpGet">
      <http:address location="http://ksit.uirproject.ru/blog/labs/lab13/Zadanie1.asmx" />
    </wsdl:port>
    <wsdl:port name="Lab13Zadanie1HttpPost" binding="tns:Lab13Zadanie1HttpPost">
      <http:address location="http://ksit.uirproject.ru/blog/labs/lab13/Zadanie1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>